/* Custom font */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
  
#root, #__next {
    isolation: isolate;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

dialog {
    border: none;
}


/* General styling */

:root {
    font-family: "Rubik", sans-serif;
    --background-color: #f0eef1;
    --element-background-color: white;
    --light-green: #1df595;
    --light-red: #f65858;
    --font-color: black;
    --spacing-s: 0.5rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-xxl: 8rem;
    --font-weight-button: 450;
    --border-radius: 0.4rem;
}

.grid-wrapper {
    display: grid;
    grid-template-rows: auto 15fr 1fr;
    height: 100vh;
    background-color: var(--background-color);
}

/* Utils */

.btn {
    border: none;
    font-weight: var(--font-weight-button);
    border-radius: var(--border-radius);
    padding: var(--spacing-s) var(--spacing-m);    
}

.btn:hover {
    filter: brightness(90%);
}

.submit,
.read {
    width: 100%;
    background-color: var(--light-green);
}

.not-read {
    width: 100%;
    background-color: var(--light-red);
}

/* Header styling */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--element-background-color);
    padding: var(--spacing-l) var(--spacing-xxl);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    position: relative;
}

.header .title {
    font-size: calc(1.5rem + 1vw);
    font-weight: bold;
}

.log-in .btn {
    font-size: calc(0.8rem + 0.4vw);
}


/* Main content */

.main-container {
    background-color: var(--background-color);
    text-align: center;
    padding: var(--spacing-xl) var(--spacing-xxl);
}

.add {
    background-color: inherit;
    font-size: calc(1.4rem + 0.4vw);
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-l);
    margin-top: var(--spacing-xl);
}

.book-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    background-color: var(--element-background-color);
    border-radius: var(--border-radius);
    padding: var(--spacing-m);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 450;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: var(--spacing-s);
    font-weight: 450;
}

.icon {
    background-image: url(../assets/icons/github.svg);
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    align-self: center;
}

/* Dialog */

dialog[open] {
    opacity: 1;
    transform:translate(-50%, -50%) scale(1);
}

dialog {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: var(--border-radius);
    padding: var(--spacing-s);
    background-color: var(--background-color);
    transition: 0.1s ease-in-out;
}

@starting-style {
    dialog[open] {
        opacity:0;
        transform: translate(-50%, -50%) scale(0);
    }
}

::backdrop {
    background-color: #3F3F3F;
    opacity: 70%;
}

.add-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-m);
    font-size: calc(0.8rem + 0.5vw);
    padding: var(--spacing-s);
}

.add-book .title {
    font-weight: 600;
    font-size: calc(1rem + 0.5vw);
}

.is-read {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}

input {
    border-radius: var(--border-radius);
    border: none;
    padding: var(--spacing-s);
}

input:focus {
    outline: none;
}

input[type="checkbox"] {
    width: calc(0.6rem + 0.5vw);
    height: calc(0.6rem + 0.5vw);
    accent-color: white;
}